{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}

<style lang="scss">
  .pagination {
    margin: auto;
    text-align: center;
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 55px 0 25px 0;
    color: #999;
  }
  span.pagination-selected {
    display: inline-block;
    font-size: 1.3rem;
  }
</style>